article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;}
    

    /* Basic */

	

	input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
    }
    
    header {
		margin: 0 0 2em 0;
    }
    

    footer {
		margin: 2em 0 0 0;
    }
    
    
/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
    }
    @media screen and (min-width: 961px) and (max-width: 1880px) {

        .container {
            width: 1200px;
        }

    }

    @media screen and (min-width: 961px) and (max-width: 1620px) {

        .container {
            width: 960px;
        }

    }

    
		

		@media screen and (min-width: 961px) and (max-width: 1320px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 960px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

        }
        @media screen and (min-width: 961px) and (max-width: 1620px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

            .row {
                margin-top: -40px;
                margin-left: -40px;
            }
                }
                
                @media screen and (min-width: 961px) and (max-width: 1320px) {

                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        align-items: stretch;
                    }
                    .row {
                        margin-top: -20px;
                        margin-left: -20px;
                    }

                    
                }
                @media screen and (max-width: 960px) {

                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        align-items: stretch;
                    }
                    .row {
                        margin-top: -20px;
                        margin-left: -20px;
                    }
    
                }
                @media screen and (max-width: 736px) {

                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        align-items: stretch;
                    }
                    .row {
                        margin-top: -20px;
                        margin-left: -20px;
                    }
                }

                /* Sections/Article */

	section, article {
		margin-bottom: 3em;
    }
    /* Table */

	table {
		width: 100%;
		text-align: left;
    }
    
    /* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #222629 url("images/overlay.png");
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		top: 0;
		width: 375px;
    }
    #logo {
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
    }
    
    	
/* Footer */

	#footer {
		margin-left: 375px;
		text-align: center;
		background-color: #dce3e2;
		padding: 3em 0 4em 0;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
		font-size: 0.8em;
    }

    /* Main */

    #main {
		margin-left: 375px;
    }
    
    

/* Wide */

	@media screen and (min-width: 961px) and (max-width: 1880px) {


		

		/* Header */

			#header {
				width: 300px;
			}

		/* Footer */

			#footer {
				margin-left: 300px;
			}

		/* Main */

			#main {
				margin-left: 300px;
			}

    }
    
    @media screen and (min-width: 961px) and (max-width: 1320px) {


		

        .container {
            padding: 0 2em 0 2em;
        }
    /* Header */

			#header {
				width: 20%;
            }
            /* Footer */

			#footer {
				margin-left: 20%;
			}

		/* Main */

			#main {
				margin-left: 20%;
            }
            

    }


    /* Narrower */

	#headerToggle {
		display: none;
    }
    @media screen and (max-width: 960px) {

		/* Basic */


			.container {
				padding: 0 2em 0 2em;
            }
            
		/* Header */

			#header {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				-webkit-overflow-scrolling: touch;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				width: 275px;
				background: #222729 url("images/ie/6.jpg");
				box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
            }
            #headerToggle {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 2.25em;
				left: 0;
				position: fixed;
				top: 0;
				width: 3.25em;
				z-index: 10001;
			}


            /* Footer */

			#footer {
				margin-left: 0;
			}

		/* Main */

			#main {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				margin-left: 0;
			}
        }


        /* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */


			

			.container {
				padding: 0 15px 0 15px;
            }
        }